@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
  max-height: 100%;
  font-family: "Quicksand", sans-serif;
}

/* fixes overflowing on certain devices */
.public-DraftEditor-content {
  overflow-wrap: anywhere !important;
}

.DraftEditor-root {
  flex: 1 1 0;
  overflow: auto;
}
.loading_border {
  padding: 11px;
  outline:none;
  border: none;
  border-radius: 1px;
  box-shadow: none;
  background-image: 
    linear-gradient(#334155, #334155), 
    linear-gradient(#334155, #334155), 
    linear-gradient(#334155, #334155), 
    linear-gradient(#334155, #334155), 
    
    linear-gradient(rgba(226 232 240), rgba(226 232 240)), 
    linear-gradient(rgba(226 232 240), rgba(226 232 240)), 
    linear-gradient(rgba(226 232 240), rgba(226 232 240)), 
    linear-gradient(rgba(226 232 240), rgba(226 232 240));
  
  background-position: 0 0, 0 0, 0 100%, 0 100%, 
                       0 0, 0 0, 0 100%, 100% 0;
  background-size: 1px 0%, 0% 1px, 0% 1px, 1px 0%,  
                   1px 100%, 100% 1px, 100% 1px,1px 100%;
  background-color:transparent;
  background-repeat:no-repeat;
  transition:0.4s linear;
}

.border_inference_animate {
  animation: animate 4s linear infinite;
}

.border_inference_pending {
  background-image: 
    linear-gradient(#8d8e8f, #8d8e8f), 
    linear-gradient(#8d8e8f, #8d8e8f), 
    linear-gradient(#8d8e8f, #8d8e8f), 
    linear-gradient(#8d8e8f, #8d8e8f), 

    linear-gradient(rgba(226 232 240), rgba(226 232 240)), 
    linear-gradient(rgba(226 232 240), rgba(226 232 240)), 
    linear-gradient(rgba(226 232 240), rgba(226 232 240)), 
    linear-gradient(rgba(226 232 240), rgba(226 232 240));
}

.border_inference_complete {
  background-image: 
    linear-gradient(#334155, #334155), 
    linear-gradient(#334155, #334155), 
    linear-gradient(#334155, #334155), 
    linear-gradient(#334155, #334155), 
    
    linear-gradient(#334155, #334155), 
    linear-gradient(#334155, #334155), 
    linear-gradient(#334155, #334155), 
    linear-gradient(#334155, #334155);
}

.border_inference_error {
  background-image: 
    linear-gradient(#f56760, #f56760), 
    linear-gradient(#f56760, #f56760), 
    linear-gradient(#f56760, #f56760), 
    linear-gradient(#f56760, #f56760), 
    
    linear-gradient(#f56760, #f56760), 
    linear-gradient(#f56760, #f56760), 
    linear-gradient(#f56760, #f56760), 
    linear-gradient(#f56760, #f56760);
}

@keyframes animate {
  0% {
  background-position: 0 100%, 0 0, 0 100%, 100% 0, 
                       0 0, 0 0, 0 100%, 100% 0;
  background-size: 1px 0%, 100% 1px, 0% 1px,1px 0%,  
                   1px 100%, 100% 1px, 100% 1px,1px 100%;
  }
  40% {
  background-position: 0 100%, 100% 0, 100% 100%, 100% 0, 
                       0 0, 0 0, 0 100%, 100% 0;
  background-size: 1px 0%, 100% 1px, 0% 1px,1px 100%,  
                   1px 100%, 100% 1px, 100% 1px,1px 100%;
  }
  60% {
  background-position: 0 100%, 100% 0, 100% 100%, 100% 100%, 
                       0 0, 0 0, 0 100%, 100% 0;
  background-size: 1px 0%, 0% 1px, 100% 1px,1px 100%,  
                   1px 100%, 100% 1px, 100% 1px,1px 100%;
  }
  70% {
  background-position: 0 100%, 100% 0, 0% 100%, 100% 100%, 
                       0 0, 0 0, 0 100%, 100% 0;
  background-size: 1px 100%, 0% 1px, 100% 1px,1px 0%,  
                   1px 100%, 100% 1px, 100% 1px,1px 100%;
  }
  80% {
  background-position: 0% 0%, 0% 0, 0% 100%, 100% 100%, 
                       0 0, 0 0, 0 100%, 100% 0;
  background-size: 1px 100%, 0% 1px, 0% 1px,1px 0%,  
                   1px 100%, 100% 1px, 100% 1px,1px 100%;
  }
  100% {
  background-position: 0% 0%, 0 0, 0 100%, 100% 100%, 
                       0 0, 0 0, 0 100%, 100% 0;
  background-size: 1px 0%, 100% 1px, 0% 1px,1px 0%,  
                   1px 100%, 100% 1px, 100% 1px,1px 100%;  
  }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: rgba(217,217,227,.8);
  border-color: rgba(255,255,255,var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

/* Customize the track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

/* Customize the thumb */
::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 9999px;
  border: 1px solid #a1a1a1;
}

/* Set the scrollbar size */
::-webkit-scrollbar {
  height: 0.3rem;
  width: 0.3rem;
}

/* Set the scrollbar's corners to round */
::-webkit-scrollbar-corner {
  background: transparent;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.chat-textarea {
  width:100%;
  border:1pt solid black;
  border-radius:5pt;
  padding:5px;

}

.promptgen-textarea {
  width:100%;
  border:1pt solid black;
  border-radius:5pt;
  padding:5px;
  font-size:11pt;
  line-height:11pt;
  height:100px;
}

.chat-buttonarea {
  display:flex;
  gap:10px;
}

.chat-mainarea {
  display:flex;
  flex-direction: column;
  width:100%;
  height: 100%;
  padding:20px 20px 40px 20px;
}

.chat-messagearea {
  flex:1;
  width:100%;
  padding-right:15px;
  overflow-y:scroll;
  margin-bottom:10px;
}

.chat-message {
  margin-bottom:16px;
  position:relative;
}

.chat-message-role {
  margin-bottom:3px;
  font-weight: bold;
}

.chat-message-date {
  margin-left:10px;
  font-weight: normal;
}

.chat-message-content {
  padding:10px;
  border-radius:8px;
  white-space: pre-wrap;
  padding-bottom:20px;
}

.chat-message-editing {
  padding:10px;
  border-radius:8px;
  border:1pt solid black;
  white-space: pre-wrap;
  padding-bottom:20px;
  resize: none;
  width:100%;
}



.chat-message-content.user {
  background-color: #d9d9d9;
}

.chat-message-content.assistant {
  background-color: rgb(185, 238, 188);
}

.chat-clipboardbutton {
  background: transparent;
  border:none !important;
  outline: none !important;
  box-shadow:none !important;
  padding:0px; 
  height:18px;
  width:18px;
}

.chat-clipboardbutton-container {
  position:absolute;
  right:5px;
  bottom:5px;
  display:flex;
  align-items:center;
  gap:2px;
}

.chat-clipboardbutton:focus {
  border:none !important;
  outline: none !important;
  box-shadow:none !important;
}

.settings-button {
  position:absolute;
  right: 5px;
  top:-6px;
  height: 25px;
  width: 25px;
  color:white;
  padding:0px;
}

.settings-container {
  position:relative;
  padding-right:25px;
  padding-top:10px;
}

.close-settings-button {
  position: absolute;
  right: 5px;
  top: -6px;
  height: 25px;
  width: 25px;
  padding:0px;
}

.convos-panel-container {
  position:relative;
  border-right:1pt solid #e5e7eb;
  margin-top:-12px;
  padding-top:8px;
  min-width: 16px;
}

.convos-button {
  position:absolute;
  left: -15px;
  top:6px;
  height: 25px;
  width: 25px;
  color:white;
  padding:0px;
}

.close-convos-button {
  position: absolute;
  right: 5px;
  top: 6px;
  height: 25px;
  width: 25px;
  padding:0px;
}

.convos-container {
  margin-top: -17px;
  margin-left: -12px;
}

.convos-list {
  margin-top:15px;
  margin-left:3px;
}

.convo-entry {
  padding:4px 7px;
  margin-right:8px;
  border-radius:3px;
  position:relative;
}

.convo-entry-contextMenu button {
  height: 20px;
  width: 20px;
  padding:2px;
}

.convo-entry.selected {
  background-color: rgb(217, 217, 217) !important;

}

.convo-entry:hover {
  background-color: rgba(16, 185, 129, 0.2);
  cursor:pointer;
}

.convo-entry-contextMenu {
  display: none;
  position:absolute;
  right:13px;
  top:6px;
}

.convo-entry:hover .convo-entry-contextMenu {
  display: flex;
}

.convo-entry-wrapper {
  position:Relative;
}

.convo-entry-wrapper:hover .convo-entry-contextMenu {
  display: flex;
}

.chat-systemmessage {
  display:flex;
  align-items: center;
  margin-top:-20px;
  margin-bottom:10px;
}

.chat-systemmessage span {
  margin-right:10px;
}

.images-container {
  display:flex;
  gap:10px;
  margin-bottom:10px;
}

.images-preview {
  max-width:110px;
  max-height:100px;
}

.audiodisplay-container {
  width: 100%;
  padding: 10px;
  display:flex;
  align-items: center;
  margin-top:5px;
}

.audiodisplay-gauge {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.audiodisplay-gauge-bar {
  position: absolute;
  height: 100%;
  background-color: #DDD;
  transition: width 0.2s ease;
}

.audiodisplay-gauge-bar {
  position: absolute;
  height: 100%;
  background-color: #BBB;
  /* transition: width 0.1s ease; */
}

.audiodisplay-gauge-bar.blue {
  background-color: #59D;
}

.audiodisplay-threshold-bar {

}

.audiodisplay-recording {
  background-color:rgb(98, 53, 53);
  border-radius:50%;
  height:20px;
  width:20px;
  margin-right:10px;
}

.audiodisplay-recording.on {
  background-color:#C00;

}

.audiodisplay-gauge-cursor {
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: red;
  cursor: pointer;
}